<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>スクリーンショットをフォトライブラリに保存するため、写真への書き込みを許可してください。</string>
	<key>NSUserTrackingUsageDescription</key>
	<string>アプリの広告最適化のため、トラッキングの許可をお願いします。</string>
	<key>GADApplicationIdentifier</key>
	<string>ca-app-pub-8866672716864480~3476314147</string>
	<key>SKAdNetworkItems</key>
	<array>
		<dict>
			<key>SKAdNetworkIdentifier</key>
			<string>cstr6suwn9.skadnetwork</string>
		</dict>
	</array>
</dict>
</plist>
